# Use as the top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Set default charset
[*.{js,ts}]
charset = utf-8

[*.{js,ts,scss}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 4

# 2 space indentation for yml
[*.{json,yml}]
indent_style = space
indent_size = 2

[.html]
indent_style = space
indent_size = 4
